{% extends 'base.html' %}

{% block body %}
    <div class="container">
        <h1>Livros Disponiveis</h1>
        <h2>Veja aqui os mais diversos livros para você aproveitar seu tempo.</h2>
    </div>
    <div class="row">
        <div class="col">
            {% for livro in livros %}
                <a href="{{ url_for('mostrar_livro', id_livro=livro.id) }}"><img src="{{ url_for('static', filename='capas_livros/{}'.format(livro.foto_capa)) }}" class="img-radius mt-2 p-1" alt="User-Profile-Image" width="200"></a>
            {% endfor %}
        </div>
    </div>

{% endblock %}
